In [2]:
import pandas as pd

data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})
activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

In [13]:
df = activities.groupby('sell_date').apply(lambda x: x['product'].to_string()).reset_index(name='products')
dt = activities.groupby('sell_date').apply(lambda x: ','.join(sorted(x['product']))).reset_index(name='products')
dt['num_sold'] = dt['products'].apply(lambda x: len(x.split(',')))
dt.insert(1, 'num_sold', dt.pop('num_sold'))

dt

/var/folders/3l/8z9btxnn0v5ggn_bn3fpsv800000gn/T/ipykernel_19553/2044955814.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = activities.groupby('sell_date').apply(lambda x: x['product'].to_string()).reset_index(name='products')
/var/folders/3l/8z9btxnn0v5ggn_bn3fpsv800000gn/T/ipykernel_19553/2044955814.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dt = activities.groupby('sell_date').apply(lambda x: ','.join(sorted(x['product']))).reset_index(name='products')

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         2                     Mask,Mask