In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!python --version

Python 3.10.13

In [3]:
report = pd.DataFrame({'product': ['A', 'B', 'C'], 
                       'Q1': [100, 150, 200], 
                       'Q2': [200, 300, 400], 
                       'Q3': [300, 450, 600], 
                       'Q4': [400, 600, 800]})
report

  product   Q1   Q2   Q3   Q4
0       A  100  200  300  400
1       B  150  300  450  600
2       C  200  400  600  800

In [4]:
re_index = report.set_index('product')
re_index

          Q1   Q2   Q3   Q4
product
A        100  200  300  400
B        150  300  450  600
C        200  400  600  800

In [9]:
df = re_index.stack()
df

product
A        Q1    100
         Q2    200
         Q3    300
         Q4    400
B        Q1    150
         Q2    300
         Q3    450
         Q4    600
C        Q1    200
         Q2    400
         Q3    600
         Q4    800
dtype: int64

In [15]:
df.reset_index()

   product level_1    0
0        A      Q1  100
1        A      Q2  200
2        A      Q3  300
3        A      Q4  400
4        B      Q1  150
5        B      Q2  300
6        B      Q3  450
7        B      Q4  600
8        C      Q1  200
9        C      Q2  400
10       C      Q3  600
11       C      Q4  800

In [ ]:
import pandas as pd
def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    df = teacher.groupby('teacher_id')

In [17]:
# DataFrame 的创建由 dict 完成
teacher = pd.DataFrame({
    'teacher_id': [1, 1, 1, 2, 2, 2, 2],
    'subject_id': [2, 2, 3, 1, 2, 3, 4],
    'dept_id': [3, 4, 3, 1, 1, 1, 1]
})
teacher.groupby('teacher_id')['subject_id'].unique()

teacher_id
1          [2, 3]
2    [1, 2, 3, 4]
Name: subject_id, dtype: object