In [35]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'])
def range_func(x):
    return x.max() - x.min()
df.stack().unstack().reset_index(drop=True).reset_index(drop=True)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df.apply(range_func, axis=0)  # 默认axis=0，按列应用

import pandas as pd

# 创建一个示例 DataFrame
df = pd.DataFrame({'A': ['a', 'b', 'c']}, index=[100, 101, 102])
print("原始 DataFrame:")
print(df)

# 使用 drop=False 重置索引
df_reset_false = df.reset_index(drop=False)
print("\n使用 drop=False 重置索引后的 DataFrame:")
print(df_reset_false)

# 使用 drop=True 重置索引
df_reset_true = df.reset_index(drop=True)
print("\n使用 drop=True 重置索引后的 DataFrame:")
print(df_reset_true)

原始 DataFrame:
     A
100  a
101  b
102  c

使用 drop=False 重置索引后的 DataFrame:
   index  A
0    100  a
1    101  b
2    102  c

使用 drop=True 重置索引后的 DataFrame:
   A
0  a
1  b
2  c

In [11]:
import pandas as pd

# 示例DataFrame
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': [5, 6, 7, 8]})

pd.merge(df1, df2, on='key', how='inner')

# pd.merge(df1, df2, on='key', how='left')

  key  value_x  value_y
0   B        2        5
1   D        4        6
2   D        4        7